html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $base-font-size;
  font-family: $font-family;
  line-height: $base-line-height;
  color: $color-black;
}

code {
  font-family: $font-family-code, monospace !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-blue;
  transition: color 200ms ease;

  &:hover {
    text-decoration: underline;
    color: $color-black-blue;
  }
}

input,
textarea {
  font-family: $font-family;
  outline: 0;
}
