// colors
$color-white: #FFFFFF;
$color-white-gray: #F5F5F5;
$color-light-gray: #EEEEEE;
$color-gray: #BDBDBD;
$color-dark-gray: #9E9E9E;
$color-black-gray: #757575;
$color-black: #424242;

$color-white-blue: #E9F9FB;
$color-light-blue: #4DD0E1;
$color-blue: #00ACC1;
$color-dark-blue: #00838F;
$color-black-blue: #006064;

$color-white-green: #EBFBEE;
$color-light-green: #51CF66;
$color-green: #37B24D;
$color-dark-green: #2B8A3E;

$color-white-red: #FFF5F5;
$color-light-red: #FF8787;
$color-red: #FA5252;
$color-dark-red: #C92A2A;

// base site spacing
$site-width: 1240px;
$global-spacing: 2rem;

// font related variables
$font-family: 'Roboto', sans-serif;
$font-family-code: 'Roboto Mono', serif;
$base-font-size: 1.6em;
$base-line-height: 1.65;

// miscelaneous
$global-radius: .5rem;
$box-shadow: 0 0 .5rem rgba(0, 0, 0, .08);
